body {
    margin: 0;
    padding: 0;
    font-family: "Lato", Helvetica, Arial;
	font-size: 16px;
}

.header {
    color: #03e9f4;
    text-align: center;
    box-shadow: 0 0px 5px;
    padding: 20px;
    background-color: antiquewhite;
    font-style: Arial;
}
h1{
font-size: 3rem;
}
.menuhbg{
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  background-color: rgba(255,255,255, .6);
  transition: margin .3s linear;
  display: flex;
  flex-direction: column;
  transition: 1s ease;
}
.menuhbg ul {
  padding-inline-start: 0px;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease;
}

.menuhbg li {
  color: #f1f1f1;
  position: relative;
  transition: 1s ease;
}

.menuhbg ul li>.sub-menuhbg {
  display: none;
  position: absolute;
  transition: 1s ease;
}

.sub-menuhbg {
  display: none;
  position: absolute;
  transition: 1s ease;
}

.menuhbg ul li:hover .sub-menuhbg {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 1s ease;
}
.dropbtnhbg {
  background-color: #ffffff;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: 1s ease;
}

.dropdownhbg {
  position: relative;
  display: inline-block;
  transition: 1s ease;
}
.sub-menuhbg {
  display: none;
  position: absolute;
  transition: 1s ease;
}
.dropdown-contenthbg {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  transition: 1s ease;

}
.dropdown-contenthbg ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s ease;
}
.dropdown-contenthbg a {
  color: black;
  text-decoration: none;
  min-width: 120px;
  text-align: center;
  transition: 1s ease;

}
.dropdown-contenthbg a:hover {
  background-color: #ffffff;
  text-align: center;
  transition: 1s ease;
  cursor: pointer;
}
.dropdownhbg:hover .dropdown-contenthbg {
  display: flex;
  transition: 1s ease;
  cursor: pointer;
} 
.dropdownhbg:hover .dropbtnhbg {
  background-color:  #ddd;
  color: rgb(46, 27, 156);
  transition: 1s ease;
  cursor: pointer;
}

.topnavmn a {
  float: left;
  display: flex;
  color: #000000;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  transition: 1s ease;
}

/* thay đổi màu khi di chuột */
.topnavmn a:hover {
  background-color: #ddd;
  color: rgb(46, 27, 156);
  transition: 1s ease;
}
  .bar{
    transition: 1s;
  }
   .bar:hover{
    width: 200px;
    transition: 1s ease;}

img {
    width: 200px;
    height: 200px;
    margin: 10px;
    transition: all .5s ease;
    border: 3px solid #ddd;
}
.container {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    position: absolute; 
    bottom: 15px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 125%;
    transition: 0.5s ease;
    opacity:0;
    color: white;
    font-size: 19px;
    text-align: center;
    margin-left: -30px; 
    overflow: hidden;
  }
  
  .container:hover .overlay {
    opacity: 1;
    cursor: pointer;
  }
.cangiua {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.bocanh {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 700px;
}

img:hover {
    transform: scale(1.4);
    transition: all .3s ease;
    /* cỡ zoom khi di chuột vào */
    cursor: pointer;
}

.topnav {
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 5px 4px 5px #000;

}

.topnav a {
    float: left;
    display: flex;
    color: #000000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

/* thay đổi màu khi di chuột */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(46, 27, 156);
    cursor: pointer;
}

.menu ul {
    padding-inline-start: 0px;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu li {
    color: #f1f1f1;
    position: relative;
}

.menu ul li>.sub-menu {
    display: none;
    position: absolute;
}

.sub-menu {
    display: none;
    position: absolute;
}

.menu ul li:hover .sub-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    cursor: pointer;
}
.dropbtn {
    background-color: #ffffff;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: 0.5s ease;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    transition: 0.5s ease;
  }
.sub-menu {
    display: none;
    position: absolute;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    transition: 0.5s ease;

  }
  .dropdown-content ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.8s ease;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    min-width: 120px;
    text-align: center;
    transition: 0.8s ease;
  }
  .dropdown-content a:hover {
    background-color: #ffffff;
    text-align: center;
    transition: 0.8s ease;
    cursor: pointer;
}
  .dropdown:hover .dropdown-content {
    display: flex;
    transition: 0.8s ease;
    cursor: pointer;
} 
  .dropdown:hover .dropbtn {
    background-color:  #ddd;
    color: rgb(46, 27, 156);
    transition: 0.8s ease;
    cursor: pointer;
}
