body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  #todo-list {
    margin: auto;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    padding: 10px;
    
  }
  
  #add-todo {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #add-todo input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #add-todo button {
    margin: 20px auto;
    width: 80%;
    max-width: 70px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }
  
  .completed {
    color: #ee0d0d;
  }
  li button {
    margin-left: 10px;
    padding: 5px 10px; 
  }